<footer id="footer" class="footer">
  <div class="container paddingV">
    <p>
      <img src="../assets/img/Logos Blancos/TVDPI 64x64blanco-01.png" width="auto" height="64" class="d-inline-block align-top"
        alt="">
    </p>
    <hr class="hrf">
    <div class="row">
      <div class="col">
        <p class="text-left">
          &copy; 2018 ticketPass &middot;
          <a class="links" href="https://www.facebook.com/notes/ticketpass/política-de-privacidad/433903536962932/" target="_blank"
            style="text-decoration: none;">Política de Privacidad</a>
        </p>
      </div>
      <div class="col">
        <p class="text-right" title="Inicio">
          <a class="links" href="#">
            <i class="fas fa-chevron-circle-up"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>