<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/Logos/MDPI 48x48.png" width="30" height="30" class="d-inline-block align-top" alt=""> ticketPass
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">HOME
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#info">INFO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#eventos">EVENTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">CONTACTO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#download">DOWNLOAD</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fab fa-facebook"></i> Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<section id="top">
  <div class="pink">
    <div class="text-uppercase text-center font-weight-light paddingV">
      <h2 class="font-weight-light">Eventos</h2>
    </div>
  </div>
</section>
<section id="eventsfilter">
  <div class="container paddingV">
    <form>
      <div class="form-row inputs">
        <div class="form-group col-md-3 paddingform">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-ticket-alt"></i></div>
            </div>
            <select id="inputState" class="form-control">
              <option selected>Tipo evento...</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-3 paddingform">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-map-marker"></i></div>
              </div>
              <select id="inputState" class="form-control">
                <option selected>Localidad</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-3 paddingform">
              <div class="input-group mb-2 fullwidth">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
                <input type="date" name="" id="" class="">
              </div>
            </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary float-right "><i class="fas fa-search"></i> Buscar</button>
        </div>
      </div>

    </form>
  </div>
  <hr class="hr">
</section>


<section id="eventslist">

  <div id="eventslist">
    <div class="container paddingV">
      <div class="row paddingB">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn2.abc-mallorca.com/wp-content/uploads/2013/08/nightlife-mallorca-img01.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Evento x</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Ir al evento</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn2.abc-mallorca.com/wp-content/uploads/2013/08/nightlife-mallorca-img01.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Evento x</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Ir al evento</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn2.abc-mallorca.com/wp-content/uploads/2013/08/nightlife-mallorca-img01.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Evento x</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Ir al evento</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row paddingB">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn2.abc-mallorca.com/wp-content/uploads/2013/08/nightlife-mallorca-img01.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Evento x</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Ir al evento</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn2.abc-mallorca.com/wp-content/uploads/2013/08/nightlife-mallorca-img01.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Evento x</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Ir al evento</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn2.abc-mallorca.com/wp-content/uploads/2013/08/nightlife-mallorca-img01.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Evento x</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Ir al evento</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container paddingB">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link pinktext" href="#" tabindex="-1">Atrás</a>
        </li>
        <li class="page-item">
          <a class="page-link pinktext" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link pinktext" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link pinktext" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link pinktext" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<!-- Footer -->

<footer id="footer" class="footer">
  <div class="container paddingV">
    <p>
      <img src="../assets/img/Logos Blancos/TVDPI 64x64blanco-01.png" width="auto" height="64" class="d-inline-block align-top"
        alt="">
    </p>
    <hr class="hrf">
    <div class="row">
      <div class="col">
        <p class="text-left">
          &copy; 2018 ticketPass &middot;
          <a class="links" href="https://www.facebook.com/notes/ticketpass/política-de-privacidad/433903536962932/" target="_blank"
            style="text-decoration: none;">Política de Privacidad</a>
        </p>
      </div>
      <div class="col">
        <p class="text-right" title="Inicio">
          <a class="links" href="#">
            <i class="fas fa-chevron-circle-up"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>