<section id="top">
  <div class="pink">
    <div class="text-uppercase text-center font-weight-light paddingV">
      <h2 class="font-weight-light">Eventos</h2>
    </div>
  </div>
</section>
<section id="eventsfilter">
  <div class="container paddingV">
    <form>
      <div class="form-row inputs">
        <div class="form-group col-md-3 paddingform">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-ticket-alt"></i></div>
            </div>
            <select id="inputState" class="form-control">
              <option selected>Tipo evento...</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-3 paddingform">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-map-marker"></i></div>
              </div>
              <select id="inputState" class="form-control">
                <option selected>Localidad</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-3 paddingform">
              <div class="input-group mb-2 fullwidth">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
                <input type="date" name="" id="" class="">
              </div>
            </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary float-right "><i class="fas fa-search"></i> Buscar</button>
        </div>
      </div>

    </form>
  </div>
  <hr class="hr">
</section>


<section id="eventslist">
<app-loading *ngIf="showSpinner"></app-loading>
  <div id="eventslist">
    <div class="container paddingV">
      <div class="row paddingB">
        <div class="col" *ngFor="let event of events">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{event.ImageUri}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{event.Title}}</h5>
              <p class="card-text">{{event.Description}}</p>
              <a routerLink="/content/event" class="btn btn-primary">Ir al evento</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container paddingB">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link pinktext" href="#" tabindex="-1">Atrás</a>
        </li>
        <li class="page-item">
          <a class="page-link pinktext" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link pinktext" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link pinktext" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link pinktext" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</section>