/* Contacto */

.contact {
  background-color: #F8F9FA;

}

.form-group {
  border: 0%;
  border-radius: 0%!important;
  border-style: none;
}

.hrc {
  border-color: #0EC18E;
}

.linksc {
  text-decoration: none;
  color: #FF2E6A;
}

.linksc:hover {
  color: gray;
}
