<section id="top">
  <div class="pinkevent case">
    <div class="paddingV element">
      <div class="container text-uppercase">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <h2 class="font-weight-light paddingV float-left">{{event.Title}}</h2>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <div id="eventdata" class="float-left">
              <p>
                <i class="fas fa-calendar-alt"></i> {{event.StartDateTime}}</p>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <div id="eventdata" class="float-left">
              <p>
                <i class="fas fa-map-marker"></i> {{event.Location.FullAddress}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <section id="event">
    <div class="container">
      <div class="row paddingV">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{{event.Images [0].Uri}}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title font-weight-light">Subtítulo del evento</h4>
                    <hr class="hr2">
                    <p class="card-text font-weight-light">{{event.Description}}</p>
                    <div class="row hidden-sm-down">
                      <div class="col-lg-3 col-sm-12 col-xs-12 align-middle pinkbar2">
                        <h5 class="font-weight-light">Tipo de ticket</h5>
                      </div>
                      <div class="col-lg-3 col-sm-12 col-xs-12 align-middle pinkbar2">
                        <h5 class="font-weight-light">Cantidad</h5>
                      </div>
                      <div class="col-lg-3 col-sm-12 col-xs-12 align-middle pinkbar2">
                        <h5 class="font-weight-light">Precio</h5>
                      </div>
                      <div class="col-lg-3 col-sm-12 col-xs-12 align-middle pinkbar2">
                        <h5></h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-sm-12 col-xs-12 pinkbar hidden-md-up">
                        <p class="font-weight-light">Titulo o breve descripción del ticket.</p>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-xs-12 pinkbar">
                        <input type="number" placeholder="Cantidad tickets" [(ngModel)]="ticket.quantity" (change)="calculatePrice()">
                      </div>
                      <div class="col-lg-3 col-sm-6 col-xs-12 pinkbar">
                        <p class="font-weight-light">{{ ticket.total | currency }}</p>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-xs-12 pinkbar">
                        <input type="submit" name="" id="" class="btn2 float-right font-weight-light"  (click)="calculatePrice()" value="Comprar">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-sm-12 col-xs-12">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.4282706264967!2d13.38818681616263!3d52.50758812981195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851d15c26d8cd%3A0x23a50042477d89c8!2sCheckpoint+Charlie!5e0!3m2!1ses!2sar!4v1519936468446"
  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </section>