<section id="top">
    <div class="pinkevent case">
      <div class="paddingV element">
        <div class="container text-uppercase">
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <h2 class="font-weight-light paddingV float-left">Nombre del evento.</h2>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <div id="eventdata" class="float-left">
                <p>
                  <i class="fas fa-calendar-alt"></i> 23-03-2018</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <div id="eventdata" class="float-left">
                <p>
                  <i class="fas fa-map-marker"></i> Lugar del evento</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--
  <section id="event">
    <div class="eventcover"></div>
    <div class="container paddingV">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <h4 class="font-weight-light">Subtítulo del evento</h4>
          <hr class="hr float-left">
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis magna suscipit, eleifend justo a, sollicitudin augue. Aliquam erat volutpat. Etiam accumsan aliquam purus, at elementum justo sagittis non. Donec pellentesque vulputate convallis. Aliquam ipsum ligula, consectetur ac tristique in, hendrerit a sapien. Aliquam sit amet sollicitudin justo, ut tincidunt odio. Praesent molestie, nisi a commodo pulvinar, dui lectus luctus ante, sit amet sagittis metus mi et libero. Proin porta purus id orci condimentum tincidunt. Mauris ornare vehicula nisi, et porttitor massa efficitur a. Donec tortor arcu, blandit et lacinia ut, consectetur nec nibh. Maecenas aliquam vehicula placerat. Aliquam lacus quam, dictum at orci et, blandit vehicula nulla. Etiam non ipsum neque. Phasellus pulvinar pharetra purus, at condimentum tortor varius vitae. Morbi dapibus sapien a nulla auctor commodo. Donec sit amet felis vitae magna imperdiet placerat.</p>
        </div>
      </div>
    </div>
  
  </section>
  -->
  <section id="event">
    <div class="container paddingV">
      <div class="row">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="https://orig00.deviantart.net/b454/f/2012/321/7/e/tokyo_nightlife_by_steelscreen-d5l91qy.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title font-weight-light">Subtítulo del evento</h4>
                    <hr class="hr">
                    <p class="card-text font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis magna suscipit, eleifend justo a, sollicitudin augue. Aliquam erat volutpat. Etiam accumsan aliquam purus, at elementum justo sagittis non. Donec pellentesque vulputate convallis. Aliquam ipsum ligula, consectetur ac tristique in, hendrerit a sapien. Aliquam sit amet sollicitudin justo, ut tincidunt odio. Praesent molestie, nisi a commodo pulvinar, dui lectus luctus ante, sit amet sagittis metus mi et libero. Proin porta purus id orci condimentum tincidunt. Mauris ornare vehicula nisi, et porttitor massa efficitur a.</p>
                    <div class="row hidden-sm-down">
                      <div class="col-lg-3 col-sm-12 col-xs-12 align-middle pinkbar2">
                        <h5 class="font-weight-light">Tipo de ticket</h5>
                      </div>
                      <div class="col-lg-3 col-sm-12 col-xs-12 align-middle pinkbar2">
                        <h5 class="font-weight-light">Cantidad</h5>
                      </div>
                      <div class="col-lg-3 col-sm-12 col-xs-12 align-middle pinkbar2">
                        <h5 class="font-weight-light">Precio</h5>
                      </div>
                      <div class="col-lg-3 col-sm-12 col-xs-12 align-middle pinkbar2">
                        <h5></h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-sm-12 col-xs-12 pinkbar">
                        <p class="font-weight-light">Titulo o breve descripción del ticket.</p>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-xs-12 pinkbar">
                        <input type="number" value="Cantidad tickets">
                      </div>
                      <div class="col-lg-3 col-sm-6 col-xs-12 pinkbar">
                        <p class="font-weight-light">$250</p>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-xs-12 pinkbar">
                        <input type="submit" name="" id="" class="btn2 float-right font-weight-light" value="Comprar">
                      </div>

                    </div>
 <!--                  <form>
                        <div class="form-row inputs">
                          <div class="form-group col-md-6 paddingform">
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-ticket-alt"></i></div>
                              </div>
                              <input type="number" name="" id="" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-search"></i> Comprar</button>
                          </div>
                        </div>
                  
                      </form>
-->
                  </div>
              </div>
        </div>
      </div>
    </div>
  </section>
  