<section id="sale">
  <div class="container">
    <div class="row paddingV">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div id="eventdata" class="float-left">
          <h5 class="font-weight-light float-left">titulo del evento {{event.Title}}</h5>
        </div>

      </div>
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div id="eventdata" class="float-left">
          <p>
            <i class="fas fa-calendar-alt"></i> fecha del evento {{event.StartDateTime}}</p>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div id="eventdata" class="float-left">
          <p>
            <i class="fas fa-map-marker"></i> direccion dele evento {{event.Location.FullAddress}}</p>
        </div>
      </div>
    </div>
    <div>

    </div>

  </div>
</section>