<section id="ticketpdf">
  <div class="container paddingV">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 25rem;height:auto;">
<img class="card-img-top" src="http://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DADPk5PpkjMg&s=8&e=m"

  alt="Generador de Códigos QR Codes" />

          <div class="card-body">
            <h3 class="card-title font-weight-ligh"><img src="../assets/img/Logos/MDPI 48x48.png" width="50" height="50" class="d-inline-block align-middle" alt=""> ticketPass</h3>
            <hr class="hr">
            <h5>Nombre del Evento</h5>
            <br>
            <p><i class="fas fa-calendar-alt"></i> Fecha - Horario</p>
            <p><i class="fas fa-map-marker"></i> Ubicación Evento</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-ligh">Nombre Usuario</li>
            <li class="list-group-item font-weight-ligh">DNI Usuario</li>
          </ul>
          
          <div class="card-body text-center">
            <a href="https://www.ticketpass.com.ar" class="ticketlink">www.ticketpass.com.ar</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
