<!-- COVER -->
<section id="cover">
    <div class="cover-inicio case paddingB">
        <div class="element">
            <img class="logo" src="../assets/img/Logos Blancos/XXHDPI 144x144blanco-01.png" alt="logo_ticketpass">
            <h1 class="font-weight-light ticketpassname">ticketPass</h1>
            <div class="text-center paddingT">
                <a href="https://play.google.com/store/apps/details?id=ar.com.ticketpass&hl=es">
                    <img class="stores" src="../assets/img/storesLogos/playstore.png" alt="play store link">
                </a>
                <a href="https://play.google.com/store/apps/details?id=ar.com.ticketpass&hl=es">
                    <img class="stores" src="../assets/img/storesLogos/appstore.png" alt="app store link">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Info - Iconos -->
<section id="info">
    <div class="container paddingV">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
                <div class="icons">
                    <span class="fa-layers">
            <i class="fa fa-circle"></i>
            <i class="fa fa-crosshairs fa-inverse"></i>
          </span>
                </div>
                <hr class="hr">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum laoreet quam vitae semper. Fusce vitae eleifend erat. Nunc iaculis nisi felis, id gravida velit blandit ac.</p>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
                <div class="icons">
                    <i class="far fa-credit-card"></i>
                </div>
                <hr class="hr">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum laoreet quam vitae semper. Fusce vitae eleifend erat. Nunc iaculis nisi felis, id gravida velit blandit ac.</p>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
                <div class="icons">
                    <i class="fas fa-qrcode"></i>
                </div>
                <hr class="hr">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum laoreet quam vitae semper. Fusce vitae eleifend erat. Nunc iaculis nisi felis, id gravida velit blandit ac.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
                <div class="icons">
                    <i class="fas fa-search"></i>
                </div>
                <hr class="hr">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum laoreet quam vitae semper. Fusce vitae eleifend erat. Nunc iaculis nisi felis, id gravida velit blandit ac.</p>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
                <div class="icons">
                    <span class="fa-layers fa-fw">
            <i class="fas fa-circle"></i>
            <i class="fa-inverse fab fa-facebook-f" data-fa-transform="shrink-6"></i>
          </span>
                </div>
                <hr class="hr">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum laoreet quam vitae semper. Fusce vitae eleifend erat. Nunc iaculis nisi felis, id gravida velit blandit ac.</p>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
                <div class="icons">
                    <span class="fa-layers fa-fw">
            <i class="fas fa-circle"></i>
            <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
          </span>
                </div>
                <hr class="hr">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum laoreet quam vitae semper. Fusce vitae eleifend erat. Nunc iaculis nisi felis, id gravida velit blandit ac.</p>
            </div>
        </div>
    </div>
</section>
<!-- Eventos -->
<section id="events" class="events">
    <div class="container paddingV">
        <div class="paddingB">
            <h3 class="text-uppercase font-weight-light text-center">Próximos Eventos</h3>
            <hr class="hr">
        </div>
        <div class="row paddingB">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://cdn2.abc-mallorca.com/wp-content/uploads/2013/08/nightlife-mallorca-img01.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Evento x</h5>
                        <p>Fecha</p>
                        <p>Lugar</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Ir al evento</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://cdn2.abc-mallorca.com/wp-content/uploads/2013/08/nightlife-mallorca-img01.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Evento x</h5>
                        <p>Fecha</p>
                        <p>Lugar</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Ir al evento</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://cdn2.abc-mallorca.com/wp-content/uploads/2013/08/nightlife-mallorca-img01.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Evento x</h5>
                        <p>Fecha</p>
                        <p>Lugar</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Ir al evento</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a routerLink="/content/events" class="btn btn-primary">Ver todos los eventos</a>
        </div>
    </div>
</section>
<!-- Download -->
<section id="download" class="download">
    <div class="container paddingV">
        <h3 class="text-uppercase font-weight-light text-center">Bajá la app ya!</h3>
        <hr class="hr">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <a href="https://play.google.com/store/apps/details?id=ar.com.ticketpass&hl=es">
                        <img class="img-fluid stores2 storesh" src="../assets/img/storesLogos/playstore300.png" alt="linkplaystore">
                    </a>
                    <a href="link_al_app_store">
                        <img class="img-fluid stores2 storesh" src="../assets/img/storesLogos/appstore300.png" alt="linkappstore">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-contact></app-contact>