<!-- COVER -->
<section id="cover">
  <div class="cover-inicio case paddingB">
    <div class="element">
      <img class="logo" src="../assets/img/Logos Blancos/XXHDPI 144x144blanco-01.png" alt="logo ticketpass">
      <h1 class="font-weight-light ticketpassname">ticketPass</h1>
      <div class="text-center paddingT">
        <a href="https://play.google.com/store/apps/details?id=ar.com.ticketpass&hl=es">
          <img class="stores" src="../assets/img/storesLogos/playstore.png" alt="play store link">
        </a>
        <a href="https://play.google.com/store/apps/details?id=ar.com.ticketpass&hl=es">
          <img class="stores" src="../assets/img/storesLogos/appstore.png" alt="app store link">
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Info - Iconos -->
<section id="info">
  <div class="container paddingV">
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <div class="icons">
          <i class="fa fa-money-bill-alt"></i>
        </div>
        <hr class="hr">
        <p>También RapiPago y PagoFacil puede estar habilitados para ciertos eventos.</p>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <div class="icons">
          <i class="far fa-credit-card"></i>
        </div>
        <hr class="hr">
        <p>No tenés tarjeta de crédito? No importa! Pedile a un amigo o familiar que compra el ticket y te lo transfiera a tu
          cuenta.</p>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <div class="icons">
          <i class="fas fa-home"></i>
        </div>
        <hr class="hr">
        <p>Comprá desde la comodidad de tu casa y retirá el día del evento en las boleterías exclusiva para ticketPass.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <div class="icons">
          <i class="fas fa-gift"></i>
        </div>
        <hr class="hr">
        <p>Participá de nuestros sorteos de entradas sin obligación de compra.</p>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <div class="icons">
          <i class="fas fa-question"></i>
        </div>
        <hr class="hr">
        <p>Tenés alguna duda? No podés hacer un pago? Te ayudamos en lo que necesités a través de Facebook o Instagram.</p>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <div class="icons">
            <i class="fas fa-user"></i>
        </div>
        <hr class="hr">
        <p>Si producís u organizás un evento, vendé más con ticketPass, recibís el dinero en una cuenta MercadoPago y retirás
          a tu cuenta bancaria o haces pagos online y consumís con tu tarjeta MercadoPago.</p>
      </div>
    </div>
  </div>
</section>
<!-- Eventos -->
<section id="events" class="events">
  <div class="container paddingV">
    <div class="paddingB">
      <h3 class="text-uppercase font-weight-light text-center">Próximos Eventos</h3>
      <hr class="hr">
    </div>
    <div class="row paddingB">
      <div class="col" *ngFor="let event of events; let i = index">
        <div *ngIf="i > events.length - 4" class="card" style="width: 18rem;">
          <div class="img-container">
            <img class="card-img-top" src="{{event.ImageUri}}">
          </div>
          <div class="card-body">
            <h5 class="card-title font-weight-light">{{event.Title}}</h5>
            <time>{{event.StartDateTime}}</time>
            <p class="card-text font-weight-light">{{event.Description}}</p>
            <a (click)="goToEventDetails(event)" class="btn btn-primary font-weight-light white">Ir al evento</a>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a routerLink="/content/events" class="btn btn-primary">Ver todos los eventos</a>
    </div>
  </div>
</section>
<app-contact></app-contact>
<!-- Download -->
<section id="download" class="download">
  <div class="container paddingV">
    <h3 class="text-uppercase font-weight-light text-center">Bajá la app ya!</h3>
    <hr class="hr">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="text-center">
          <a href="https://play.google.com/store/apps/details?id=ar.com.ticketpass&hl=es">
            <img class="img-fluid stores2 storesh" src="../assets/img/storesLogos/playstore300.png" alt="linkplaystore">
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="text-center">
          <a href="https://play.google.com/store/apps/details?id=ar.com.ticketpass&hl=es">
            <img class="img-fluid stores2 storesh" src="../assets/img/storesLogos/appstore300.png" alt="linkplaystore">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
